* {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
} */

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.container {
  background: url(../assets/bg1.png) center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 70px;
  border-radius: 50px;
  margin: 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: auto auto;
}

.col-lg-11 {
  width: 90%;
  margin: 10px;
}
